<section class="job-desc-content">
    <header class="bg-header">
        <div class="container">
            <nav class="navbar position-relative">
                <a class="navbar-brand header-text">devjobs</a>
                <div class="d-flex">
                    <p class='text-white go-to'>Go to Find Jobs </p> <em
                        class="fas fa-angle-left float-right reverse-icon mx-2" data-toggle="tooltip"
                        title="Go to Find Jobs" (click)="GoBack()"></em>

                </div>
                <div class="container-fluid position-absolute expand-search-part">
                    <div class='col-md-2 des-content'>
                        <div class="expandcolor-logo">
                            <img src={{routing_data.disc.company_logo}} alt="l'go" width="30" height="100%">

                        </div>
                    </div>
                    <div class="col-md-7">
                        <h3 class="m-0">{{routing_data.disc.company}}</h3>
                        <p class="font-detail">{{routing_data.disc.location}}</p>
                    </div>
                    <div class="col-md-2">

                        <button class="btn btn-primary btn-outline-primary text-white mx-4 pull-right"
                            (click)=companySite(routing_data.disc.company_url) type="button">Company Site</button>

                    </div>

                </div>
            </nav>
        </div>
    </header>
    <div class="container card job-main-content px-4">
        <div>
            <p class="font-detail">{{routing_data.disc.created_at | amTimeAgo}} . {{routing_data.disc.type}}</p>
            <h5 class="card-title fs-23">{{routing_data.disc.title}}</h5>
            <p class="loc-details ">{{routing_data.disc.location}}</p>
            <button class="btn btn-primary btn-outline-primary text-white mx-4 pull-right"
                (click)=companySite(routing_data.disc.company_url) type="button">Apply Now</button>
            <div class="job-detail" innerHtml="{{routing_data.disc.description}}"></div>
        </div>
    </div>

    <div class="applytojob-detail container my-4">
        <h3 class="text-white">Apply Now </h3>
        <div id='howtoapply' class="text-white" innerHtml="{{routing_data.disc.how_to_apply}}">

        </div>
    </div>

    <footer class="footer-details">
        <div class="container">
            <div class='row'>

                <div class="col-md-6">
                    <h5 class="card-title fs-23">{{routing_data.disc.title}}</h5>
                    <p class="loc-details ">{{routing_data.disc.location}}</p>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-outline-primary text-white mx-6 pull-right"
                        (click)=companySite(routing_data.disc.company_url) type="button">Company Site</button>
                </div>
            </div>

        </div>
    </footer>
</section>